
<div *ngIf="!(risultati.length == 1 && risultato === true)">
  <div id = "intro">
    <h4> Ricerca libro: </h4>
    <input (input) = "ricercalibro()" id="campo-ricerca" placeholder="Cerca un libro">
  </div>

<p *ngIf ='digitazione !== "" && risultati.length >= 0 && risultati.length != 1'>Libri trovati: {{risultati.length}}</p>
</div>
<div *ngIf ="risultati.length == 1 && risultato === true" >
  <h3> Libro trovato: </h3>
  <hr>
  <p><em>{{ libroTrovato.titolo }}</em> - {{ libroTrovato.autore }}</p>
  <p> posizione: {{ libroTrovato.posizione }} </p>
</div>
<app-presta [libroTrovato]="libroTrovato" *ngIf="libroTrovato.stato == 'libro disponibile'" > </app-presta>
  <!--<app-elimina [libroTrovato]="libroTrovato" *ngIf="libroTrovato.stato == 'libro disponibile'"> </app-elimina>-->
<app-restituisci [libroTrovato]="libroTrovato" *ngIf="libroTrovato.stato == 'libro prestato'"> </app-restituisci>
<br>
<br>
<button (click)="clean()">Torna alla home</button>