
<div *ngIf="!(risultati.length == 1)">
  <div id = "intro">
    <h4> Ricerca libro: </h4>
    <input (input) = "ricercalibro()" id="campo-ricerca" placeholder="Cerca un libro">
    <p *ngIf ='digitazione !== "" && risultati.length >= 0 && risultati.length != 1'>Libri trovati: {{risultati.length}}</p>
  </div>
</div>
<div *ngIf ="risultati.length == 1" >
  <h3> Libro trovato: </h3>
  <hr>
  <p><em>{{ libroTrovato.titolo }}</em> - {{ libroTrovato.autore }}</p>
  <p> posizione: {{ libroTrovato.posizione }} </p>
</div>

<app-presta_elimina [libroTrovato]="libroTrovato" *ngIf="libroTrovato.stato == 'libro disponibile'" > </app-presta_elimina>
<app-restituisci [libroTrovato]="libroTrovato" *ngIf="libroTrovato.stato.includes('libro prestato')"> </app-restituisci>
<br>
<br>
<button (click)="clean()">Torna alla home</button>